@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');
@import 'destyle.css';
@import './variables.css';

body {
  line-height: 1.5;
  font-size: 16px;
  color: var(--cf-gray-1);
  background-color: #fff;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, 'Helvetica Neue', Arial, sans-serif;
  user-select: none;
}